<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhengjia.mapper.AdministratorMapper">
    <resultMap id="administratorMap" type="com.liuhengjia.entity.Administrator">
        <result column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="pwd" property="password"/>
        <result column="avatar_path" property="avatarPath"/>
        <result column="nickname" property="nickname"/>
        <result column="real_name" property="realName"/>
        <result column="status_code" property="statusCode"/>
        <result column="verification_code" property="verificationCode"/>
        <result column="join_date" property="joinDate"/>
    </resultMap>
    <insert id="insertSignUp" parameterType="com.liuhengjia.entity.Administrator">
        INSERT INTO administrator (id, email, pwd, avatar_path, nickname, real_name, status_code, verification_code,
                                   join_date)
        VALUES (#{id}, #{email}, #{password}, #{avatarPath}, #{nickname}, #{realName}, #{statusCode},
                #{verificationCode}, #{joinDate})
    </insert>
    <update id="updatePassword" parameterType="java.lang.String">
        UPDATE administrator
        SET pwd = #{password}
        WHERE verification_code = #{verificationCode}
    </update>
    <update id="updateStatusCode" parameterType="java.lang.String">
        UPDATE administrator
        SET status_code = 'Y'
        WHERE verification_code = #{verificationCode}
    </update>
    <select id="selectAdministratorExist" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM administrator
        WHERE email = #{email}
    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="administratorMap">
        SELECT nickname, avatar_path
        FROM administrator
        WHERE id = #{administratorId}
    </select>
    <select id="selectSignIn" parameterType="com.liuhengjia.entity.Administrator" resultMap="administratorMap">
        SELECT *
        FROM administrator
        WHERE email = #{email}
          AND pwd = #{password}
    </select>
</mapper>